<strong>Recuperação de senha</strong>

<p>Foi solicitado a recuperação desenha do usuário de email: {{email}}. </p>
<p><strong>Se você não fez esta solicitação, verifique suas opções de segurança.</strong></p>

<p>Para continuar a recuperação de senha, utilize o token <strong>{{token}}</strong> ou clique no link abaixo.</p>
<a href="{{link}}">Nova senha</a>
